 
/* td, tbody, tr{
    height: auto;
} */
p {
  /* border: 1px solid black; */
  /* background-color: aliceblue; */
  margin: 1rem;
  color: white;
}
 
/*added this to push footer down */
#main-container {
  min-height: 100%;
  margin-bottom: 1rem;
}


h1, h2{
    color:#ffffff;
}
#modalComment{
    color: black;
}
html {
  height: 100%;
}
.btn{
    margin: 1rem;
    background: black;
    /* background-color: grey !important; */
    border: 1px solid black;  

}
div{
    height: auto;
}

.btn:hover, .btn-primary:visited, .btn-primary:focus, .btn-primary:active {
    background-color: grey !important;
    border: 1px solid black; 
 
}

.appContent{
  /* width: auto; */
width: 100%;
height: auto;
background-color: black;
/* border: 1px solid black; */
/*opacity: 0.8;
z-index: 1;*/
}

.displayImage{
    height: 200px;
    width: 200px;
    border: 1px solid yellow; 
    float: left;
    margin: 1rem .5rem;
}

.displayImage::after {
  clear:both;
  display:table;
  content: "";
 
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
 
}
 
/* made because the background was creating white space when i was resizing the page*/
#main-container {
  background-image: url("../images/park2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

#displayContent{
  
  }

#jumbotron {
  margin-bottom: 0;
  height:auto;
  
}

.title-text{
    font-weight: 400;
}

.jumbotron {
    background:none;
    margin-bottom: 0;
}

nav {
    background: black;
    opacity: .8;
}

#title-p {
  background: none;
  border:none;
}

.grid {
  display: grid;
}

/*added this div with info so we could maybe have some pre loaded content*/
.secondary-info {
  grid-gap: .5rem;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px, auto); 
  /*justify-items: stretch;   
  align-items: stretch; */
  margin: .25rem auto;; 

}

#location {
  background: black;
  grid-column: 1/2;
  grid-row: 1/3;
  padding:.5rem;
}
#location img {
  margin: .5rem;
}

#weather {
  background: black;
  grid-row: 1/3;
  padding: .5rem;
}

.footer {
  width: 100%;
  text-align: center;
  height: 4rem;
  background: black;
  color: white;
  padding-top: 1rem;
   
}
/* added some media queries */
@media (min-width: 575px){

  .grid-wrapper {
      display:grid;
      grid-gap: 1rem;
      grid-template-columns: 1fr 1fr 1fr;
  }

  .box-1 {
    grid-column: 1/3;
    grid-row: auto;
  }
  .box-2{
    grid-row: auto;
    grid-template-columns: 1fr;
  }
  #location {
    grid-area: auto;
  }

  #weather {
    grid-area: auto;
  }
}