 

p { 
  background: black;
  cursor: pointer;
  margin: 1.5rem;
  color: white;
}
img{
 width:100%;
 height: auto;
   /* margin-left: 100px;  */
}

/* .custom {
  cursor: url(../images/compass_cursor), auto;
} */

p:hover { 
  background-color: lightgray;
  color: black;
}
 
/*added this to push footer down */
#main-container {
 /* min-height: 100%;*/
}
.modal-stars, .modal-location, .modal-message{
  text-align: center;
}

.pointer{ 
  cursor: pointer;
 } 

 

h1, h2{
    color:#ffffff;
}
#modalComment{
    color: black;
}
html {
  height: 100%;
}
.btn{
    margin: 1rem;
    background: black;
    /* background-color: grey !important; */
    border: 1px solid black;  

}
div{
    height: auto;
}

.btn:hover, .btn-primary:visited, .btn-primary:focus, .btn-primary:active {
    background-color: grey !important;
    border: 1px solid black; 
 
}

.appContent{
  /* width: auto; */
/* width: 100%; */
/* height: auto; */
background-color: black;
opacity: 0.8;
border-radius: .15rem;
}

.displayImage{
    height: 200px;
    width: 200px;
    border: 1px solid yellow; 
    float: left;
    margin: 1rem .5rem;
}

.displayImage::after {
  clear:both;
  display:table;
  content: "";
 
}

body {
  height: auto;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
 
}
 
/* made because the background was creating white space when i was resizing the page*/
#main-container {
 
   background: url("../images/park2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  height: auto;
  padding-bottom: 4rem;
}

#contentHeader h1{
  font-family: 'Fugaz One', cursive;
}

#displayContent{
  
  }

#jumbotron {
  margin-bottom: 0;
  height:auto;
  
  
}

.title-text{
    font-weight: 400;
    font-family: 'Fugaz One', cursive;
}

#title-box {
  background: black;
  opacity:0.8;
  padding: .25rem;
  border-radius: .15rem;
}

.jumbotron {
    background:none;
    margin-bottom: 0;
}

nav {
    background: black;
    opacity: .8;
}

#title-p {
  background: none;
  border:none;
}

.grid {
  display: grid;
}

/*added this div with info so we could maybe have some pre loaded content*/
.secondary-info {
  grid-gap: .5rem;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px, auto); 
  margin: .5rem auto .25rem;

}

#location {
  background:black;
  opacity: 0.8;
  grid-column: 1/2;
  grid-row: 1/3;
  padding:.5rem;
  border-radius: .15rem;
}
#location img {
  margin: .5rem;
}

#weather {
  background: black;
  opacity: 0.8;
  grid-row: 1/3;
  padding: .5rem;
  border-radius: .15rem;
}

.box-3 {
  grid-gap: .5rem;
   grid-template-columns: 1fr /*1fr*/;
  grid-auto-rows: minmax(100px, auto); 
  margin: .25rem auto 1rem;
  padding:1rem;
}

.small-title {
  text-align: center;
  font-weight:500;
}

#trail-info {
  background:#f2f2f2;
  grid-column: 1/2;
  grid-row: 1/3;
  padding:.5rem;
  border-radius: .15rem;
}

/* #login,*/ #sign-in { 
  
  background:#f2f2f2;
  grid-row: 1/3;
  padding:.5rem;
  border-radius: .15rem;
}

#login form {
  display: block;
}

#pageQuotes p{
  pointer-events: none;
}


footer::before {
  clear:both;
}
.footer {
  width: 100%;
  text-align: center;
  height: 4rem;
  background: black;
  color: white;
  padding-top: 1rem;
  margin-top: 2rem;
  position:absolute;
  bottom: 0; 
}
/* added some media queries */
@media (min-width: 900px){

  .grid-wrapper {
      display:grid;
      grid-gap: 1rem;
      grid-template-columns: 1fr 1fr 1fr;
  }

  .box-1 {
    grid-column: 1/3;
    grid-row: auto;
  }
  .box-2{
    grid-row: auto;
    grid-template-columns: 1fr;
  }
  #location {
   grid-area: 1/3/span 3/1;
    
  }

  #weather {
    grid-area: 4/3/span 3/1;
  
  }
}