 


  p{
    height: auto;
    border: 1px solid black;
    background-color: aliceblue;
  }

  html {
    height: 100%;
  }
  body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
  }
  .footer {
  
    text-align: center;
    height: 4rem;
    background-color: grey;
 
    color: white;
   
  }
  #displayContent{
  
  }

  .appContent{
      /* width: auto; */
    width: 100%;
    height: 12rem;
    background-color: lightgrey;
    border: 1px solid black;
    
  }