 


  

  html {
    height: 100%;
  }
  body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
  }
  .footer {
  
    text-align: center;
    height: 4rem;
    background-color: grey;
 
    color: white;
   
  }

  .appContent{

    height: auto;
  }